version: '3'
services:
  mongodb:
    image: mongo:latest
    restart: always
    ports:
      - 27017:27017
    volumes:
      - mongodb:/data/db

  api:
    image: movies-express-app
    build: .
    ports:
      - "3000:3000"
    depends_on:
      - mongodb

volumes:
  mongodb: {}

